{
  "endOfLine": "lf",
  "printWidth": 80,
  "useTabs": true,
  "tabWidth": 2,
  "semi": true,
  "trailingComma": "es5",
  "quoteProps": "as-needed",
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "requirePragma": false,
  "insertPragma": true,
	"experimentalTernaries": true,
	"experimentalOperatorPosition": "start",
  "proseWrap": "preserve",
  "embeddedLanguageFormatting": "auto",
  "singleAttributePerLine": false,
	"tsdoc": false,
  "plugins": [
		"@ianvs/prettier-plugin-sort-imports" 
	],
	"importOrder": [
    "<TYPES>^(node:)",
    "<TYPES>",
    "<TYPES>^[.]",
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
		"",
		"^@/.*$",
		"^@/src/.*$",
    "^[./].*$"
  ],
  "importOrderParserPlugins": ["typescript"],
  "importOrderTypeScriptVersion": "5.0.0",
  "overrides": [
		{ "files": "*.{cmp,page}", "options": { "parser": "html" } },
		{ "files": "*.hbs", "options": { "printWidth": 120 } },
		{ "files": ["*.json", "*.jsonc"], "options": { "printWidth": 100 } },
		{ "files": "*.{yaml,yml}", "options": { "useTabs": false, "tabWidth": 2, "singleQuote": false, "bracketSpacing": false } },
		{ "files": "*.txt", "options": { "useTabs": false, "tabWidth": 2, "singleQuote": false, "bracketSpacing": false } },
		{ "files": "*.md", "options": { "proseWrap": "always", "printWidth": 120, "tabWidth": 2 }}
	]
}